header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 56px 0 56px;
    border-bottom: 1px solid #D7DDE9;
    padding-bottom: 24px;

    @media screen and (max-width: 426px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        margin: 24px 24px 0 24px;
    }
}

.images {
    display: flex;
    align-items: center;
    padding: 1.5px 0.252px 1.5px 0px;
    gap: 10.438px;
    flex-grow: 1;
    flex-basis: 0;
}

.title {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
}

.date {
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: flex-end;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

    @media screen and (max-width: 426px) {
        margin: 24px 24px 0 24px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 100%;

}

.task {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: 450px;
    padding: 32px;
    gap: 24px;
    background: #FFF;
    margin-top: 40px;
    border: 1px solid #EAECF0;
    @media screen and (max-width: 426px) {
        margin: 0;
        width: 100%;
    }
}

.add-new-task {
    display: flex;
    width: 450px;
    padding: 16px 24px;
    justify-content: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    background: linear-gradient(90deg, #0796D3 0%, #53C0F0 68.65%);
    border: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    margin-top: 24px;
    cursor: pointer;

    @media screen and (max-width: 426px) {
        margin: 24px 24px 0 24px;
        width: 100%;
    }
}

.input-task {
    appearance: none;
    display: flex;
    padding: 3px 3px;
    flex: 1 0 0;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #B0BBD1;
    background: #FFF;
    align-self: stretch;
    justify-content: center;
    align-items: center;
}

.input-task:checked {
    content: url("../assets/check.svg");
    border: 1px solid #0796D3;
    background: #A0DCF6;

}

.input-task:checked~.task-name {
    color: rgba(0, 0, 0, 0.54);
    text-decoration: line-through;
}

.div-task {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px dashed #D7DDE9;
    align-self: stretch;
    cursor: pointer;
}

.div-task:hover {
    background: #F7F9FD;
}

.task-name {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
    width: 274px;
}